// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.open-plugin {
    .input-area {
        background: #0000002e;
        margin-bottom: 10px;

        input {
            background: transparent;
            font-size: 1.5em;
            height: 2em;
            border: transparent;
            color: white;

            &:focus {
                box-shadow: none;
                border: none;
            }
        }
    }

    .tips {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 20px 10px;
    }

    .suggestion {
        display: flex;
        font-size: 1.2em;
        padding: 8px 8px;
        border-radius: 6px;
    }

    .suggestion.focused {
        background:#333;
    }
    .suggestion :nth-child(1) {
        width: 30px;
    }

    .suggestion :nth-child(2) {
        flex: 1;
    }

    .suggestion .suggestion-title {
        white-space: nowrap
    }

    .suggestion :nth-child(3) {
        display:none;
        color: #555;
    }
    .suggestion.focused :nth-child(3) {
        display: block;
    }

}
